<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="login-card card">
            <div class="card-header text-center">
                <h3>Register</h3>
            </div>
            <div class="card-body">
                <form #registerForm="ngForm" (ngSubmit)="registerForm.valid && register(registerForm)">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input 
                        id="username"
                        name="username"
                        class="form-control"
                        [ngClass]="{'is-invalid': registerForm.submitted && username.invalid}"
                        #username="ngModel"
                        [(ngModel)]="userService.selectedUser.username" 
                        >
                        <span class="invalid-feedback">Username Can't be empty</span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input 
                        type="email" 
                        id="email" 
                        name="email" 
                        class="form-control" 
                        [ngClass]="{'is-invalid': registerForm.submitted && email.invalid}"
                        #email="ngModel"
                        [(ngModel)]="userService.selectedUser.email"
                        >
                        <span class="invalid-feedback">Email Can't be empty</span>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password">Password</label>
                        <input 
                        type="password" 
                        id="password" 
                        name="password" 
                        class="form-control"
                        [ngClass]="{'is-invalid': registerForm.submitted && password.invalid}"
                        #password="ngModel"
                        minlength="5"
                        [(ngModel)]="userService.selectedUser.password" 
                        >
                        <span class="invalid-feedback">Password Can't be empty & must be atleast 5</span>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
                <div class="success text-center" *ngIf="showSuccessMessage">
                    Sign Up Successfully!
                </div>
                <div class="alert text-center" *ngIf="serverErrorMessages">
                    {{serverErrorMessages}}
                </div>
            </div>
        </div>
    </div>
</div>
